.jumbotron {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    margin-top: 20px;

}

.selecionado{
    background-color: rgb(129, 46, 46);
}

.form-control {
    margin-bottom: 5px;
}

.text {
    text-align: right;
}

.btn {
    width: 20%;
    margin-left: 80%;
    margin-bottom: 5px;
}

.btnicon {
    color:aquamarine;
}