<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro De Pessoas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/node_modules/jquery/dist/jquery.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/pessoasCtrl.js"></script>
</head>

<body ng-controller="pessoasCtrl">
    <div class="jumbotron">
        <h2 ng-bind="app"></h2>
        <table class="table table-striped">
            <tr>  
                <th></th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Idade</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Celular</th>
            </tr>
            <tr ng-class="{selecionado: pessoa.selecionado}" ng-repeat="pessoa in pessoas">
                <td><input type="checkbox" ng-model="pessoa.selecionado"></td>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.dataNascimento}}</td>
                <td>{{pessoa.idade}}</td>
                <td>{{pessoa.email}}</td>
                <td>{{pessoa.telefone}}</td>
                <td>{{pessoa.celular}}</td>
                <td class="icons">
                    <!-- <button  type="submit" class="bi bi-pencil-square" >Editar</button>
                    <button  type="submit" class="bi bi-trash" ng-click="apagarPessoa(pessoas)" >Apagar</button> -->
                </td>
            </tr>
        </table>
    </div>

    <div class="jumbotron">
        <h2 ng-bind="novaPessoa" class="text"></h2>

        <input class="form-control" type="text" ng-model="pessoa.nome" placeholder="Nome" />
        <input class="form-control" type="date" ng-model="pessoa.dataNascimento" id="dataNascimento"
            placeholder="dd/mm/yyyy" />
        <input class="form-control" type="number" ng-model="pessoa.idade" placeholder="Idade" />
        <input class="form-control" type="text" ng-model="pessoa.email" placeholder="Email" />
        <input class="form-control" type="text" ng-model="pessoa.telefone" placeholder="Telefone" />
        <input class="form-control" type="text" ng-model="pessoa.celular" placeholder="Celular" />
        <button class="btn btn-primary" ng-disabled="!pessoa.nome || !pessoa.telefone"
            ng-click="adicionarPessoa(pessoa)"> Adicionar </button>
        <button class="btn btn-primary" ng-click="apagarPessoa(pessoas)"> Apagar Pessoa </button>    
    </div>



</body>

</html>